
* {
  box-sizing: border-box;
  margin:0 auto;
}

body  {
  /* for testing purposes */
  border: 2px solid black;
  max-width: 375px;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  height: 667px;
}
.content  {
  height: 100%;
  /* min-height: 667px; */
  background: url(assets/images/pUAM5hPaCRI.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-row {
  height: 100%;
}

.header-class  {
  /* Not sure why my header goes down so far when there is no content there */
  /* height: 33%; */
  margin-top: 55px;
}

.h1-content  {
  font-size: 3rem;
  margin-top: 15px;
  padding: 0;
}

.h2-content  {
  font-size: 1.25rem;
  margin-top: 15px;
  padding: 0;
}

.main-button-div  {
  margin-bottom: 70px;
}

.unwaste-btn  {
  height: 58px;
  width: 135px;
  font-size: 1.6rem;
  color: white;
  background: rgba(166, 233, 202, 0.8);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 100px;
}















/* Experimental CSS for commented out html that utilized flex-direction: column; instead */
/* .flex-column  {
  height: 100%;
}

.my-flex-container  {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.my-flex-item {
  width: 100%;
}

.my-big-container  {
  width: 100%;
}

main  {
  justify-items: flex-end;
} */
