
* {
  box-sizing: border-box;
  margin:0 auto;
}

body  {
  /* for testing purposes */
  border: 2px solid black;
  max-width: 375px;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  height: 667px;
}
.content  {
  height: 100%;
  /* min-height: 667px; */
  background: url(assets/images/pUAM5hPaCRI.png) center / cover no-repeat ;
}

.content-row {
  height: 100%;
}

.header-class  {
  /* Not sure why my header goes down so far when there is no content there */
  /* height: 33%; */
  margin-top: 55px;
}

.h1-content  {
  font-size: 3rem;
  margin-top: 15px;
  padding: 0;
  opacity: 0;
}

.h1-content-animation {
  animation: animationFrames linear 0.8s;
  animation-iteration-count: 1;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,-50px);
    opacity: 0;
  }
  15% {
    transform:  translate(0px,-25px);
    opacity: 0;
  }
  30% {
    transform:  translate(0px,0px);
    opacity: 0;
  }
  45% {
    transform:  translate(0px,-15px);
    opacity: 1;
  }
  60% {
    transform:  translate(0px,0px);
    opacity: 1;
  }
  75% {
    transform:  translate(0px,-5px);
    opacity: 1;
  }
  100% {
    transform:  translate(0px,0px);
    opacity: 1;
  }
}

.h2-content  {
  font-size: 1.25rem;
  margin-top: 15px;
  padding: 0;
  opacity: 0;
}

.main-button-div  {
  margin-bottom: 40px;
}

.unwaste-btn  {
  height: 58px;
  width: 135px;
  font-size: 1.6rem;
  color: white;
  background: rgba(166, 233, 202, 0.8);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 100px;
  /* new animation stuff */
  /* change the next line.  Scale is getting affected by the transition as well */
  transform: translate(-2750px) scale(1.0);
  /* transition: transform 800ms cubic-bezier(0, 2.2, 0.68, 0.86); */
  transition: transform 800ms cubic-bezier(0.85, 0.9, 0, 2.3);
}

/* this is affected by the timing function as well */
.unwaste-btn:hover  {
  transform: scale(1.5);
}

/* new animation stuff */
.unwaste-btn-animate  {
  /* transform: translate(0px); */
  animation-name: bounce-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
  animation-delay: 1600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* animation-play-state: running; */
}

/* There must be a better shorter way to do this... */
@keyframes bounce-in  {
  0%  {
    transform: translate(-275px);
  }
  10% {
    transform: translate(110px);
  }
  15% {
    transform: translate(115px);
  }
  20% {
    transform: translate(120px);
  }
  25% {
    transform: translate(120px);
  }
  30% {
    transform: translate(115px);
  }
  40% {
    transform: translate(110px);
  }
  50% {
    transform: translate(90px);
  }
  55% {
    transform: translate(0px);
  }
  60% {
    transform: translate(90px);
  }
  65% {
    transform: translate(0px);
  }
  70% {
    transform: translate(75px);
  }
  75% {
    transform: translate(0px);
  }
  80% {
    transform: translate(60px);
  }
  85% {
    transform: translate(0px);
  }
  90% {
    transform: translate(45px);
  }
  92% {
    transform: translate(0px);
  }
  94% {
    transform: translate(30px);
  }
  96% {
    transform: translate(0px);
  }
  98% {
    transform: translate(15px);
  }
  100%  {
    transform: translate(0px);
  }
}

.rotate-hor-center {
	-webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}

.logo {
  transform: scale(1);
}

.logo-animate {
  animation-name: grow;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0%  {
    transform: scale(0);
  }
  70%  {
    transform: scale(1.5);
  }
  80%  {
    transform: scale(.75);
  }
  90%  {
    transform: scale(1.15);
  }
  100%  {
    transform: scale(1);
  }
}

/* .acitivty-info-animate  {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
} */



/* ----------------------------------------End of home page CSS */
.activity-page-div  {
  padding: 3% 7%;
}

.activity-info  {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  margin-bottom: 3%;
}

.h1-activity-content  {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  /* border-bottom: 2px solid black; */
}

/* super secret weird partial border */
.h1-activity-content:after  {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 90%; /* Change this to whatever width you want. */
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 1px dashed black; /* This creates the border. Replace black with whatever color you want. */
}

.gif-container  {
  width: 100%;
  max-height: 250px;
  /* experiment for using background-image instead of img tag. */
  /* height: 100vh; */
}

/* experiment for using background-image instead of img tag. */
/* .gif-div  {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  background-image: url(https://media2.giphy.com/media/UVFztIAHhQGsyn1eTK/giphy.gif?cid=ecf05e478d88ab313843fedafbdbfb9a1f7abb2e37572d2b&rid=giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
} */

.image {
  border: 3px solid white;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}
